<!-- Load Shared SCSS -->
{{- $sharedSCSS := resources.Get "scss/shared/shared.scss" -}}
{{- $sharedSCSS := $sharedSCSS | resources.ToCSS (dict "outputStyle" "compressed" "includePaths" (slice "assets")) -}}
{{- $sharedSCSS := $sharedSCSS | resources.ExecuteAsTemplate "main.scss" . -}}

<!-- Load Shared JS -->
{{- $sharedJS := resources.Get "js/shared/shared.js" -}}
{{- $sharedJS := $sharedJS | js.Build (dict "minify" "true") -}}

<style type="text/css" media="all">{{ $sharedSCSS.Content | safeCSS }}</style>
<link rel="stylesheet" href="/tailwind/input.css">
<link rel="stylesheet" href="/tailwind/output.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">
<script src="https://kit.fontawesome.com/4a2791f862.js" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
<script>{{- $sharedJS.Content | safeJS -}}</script>
