<div class="flex flex-wrap pb-12" id="openGallery">
  <div class="flex flex-wrap md:w-1/2">
    <div class="w-full p-1">
      <img
        alt="gallery"
        class="block h960 w-full rounded-lg object-cover object-center md:rounded-l-lg md:rounded-r-none"
        src="/images/gallery1.jpeg"
      />
    </div>
  </div>
  <div class="hidden w-1/2 flex-wrap md:flex">
    <div class="w-1/2 p-1">
      <picture>
        <img
          alt="gallery"
          class="block h-auto w-full object-cover object-center"
          src="/images/gallery4.jpeg"
        />
      </picture>
    </div>
    <div class="w-1/2 p-1">
      <picture>
        <img
          alt="gallery"
          class="block h-auto w-full object-cover object-center md:rounded-tr-lg"
          src="/images/gallery9.jpeg"
        />
      </picture>
    </div>
    <div class="w-1/2 p-1">
      <picture>
        <img
          alt="gallery"
          class="block h-auto w-full object-cover object-center"
          src="/images/gallery7.jpeg"
        />
      </picture>
    </div>
    <div class="w-1/2 p-1">
      <picture>
        <img
          alt="gallery"
          class="block h-auto w-full object-cover object-center md:rounded-br-lg"
          src="/images/gallery5.jpeg"
        />
      </picture>
    </div>
  </div>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button
          class="pswp__button pswp__button--close"
          title="close(Esc)"
        ></button>
        <button
          class="pswp__button pswp__button--fs"
          title="Toogle fullscreen"
        ></button>
        <button
          class="pswp__button pswp__button--zoom"
          title="Zoom in/out"
        ></button>
        <div class="pswp__preloader">
          <div class="pswp__preleader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="pswp__button pswp__button--arrow--left"
        title="Previous(arrow left)"
      ></button>
      <button
        class="pswp__button pswp__button--arrow--right"
        title="Next(arrow right)"
      ></button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>

<script>
  var openPhotoSwipe = function () {
    var pswpElement = document.querySelectorAll(".pswp")[0];

    var items = [
      {
        src: "/images/gallery1.jpeg",
        w: 1440,
        h: 1024,
      },
      {
        src: "/images/gallery2.jpeg",
        w: 1240,
        h: 1024,
      },
      {
        src: "/images/gallery3.jpeg",
        w: 1240,
        h: 1024,
      },
      {
        src: "/images/gallery4.jpeg",
        w: 1440,
        h: 1024,
      },
      {
        src: "/images/gallery5.jpeg",
        w: 1440,
        h: 1024,
      },
      {
        src: "/images/gallery6.jpeg",
        w: 1440,
        h: 1024,
      },
      {
        src: "/images/gallery7.jpeg",
        w: 1440,
        h: 1024,
      },
      {
        src: "/images/gallery8.jpeg",
        w: 1440,
        h: 1024,
      },
      {
        src: "/images/gallery9.jpeg",
        w: 1440,
        h: 1024,
      },
    ];

    var options = {
      history: false,
      focus: false,

      showAnimationDuration: 0,
      hideAnimationDuration: 0,
    };

    var gallery = new PhotoSwipe(
      pswpElement,
      PhotoSwipeUI_Default,
      items,
      options
    );
    gallery.init();
  };

  const openGallery = document.getElementById("openGallery");
  const smallGallery = document.getElementById("smallGallery");

  openGallery.onclick = openPhotoSwipe;
  smallGallery.onclick = openPhotoSwipe;
</script>
